# Domain name. Set to "localhost" for dev and put a domain name in for production
DOMAIN=localhost

# Uncomment next line to set contact email for ACME/TLS registration with Caddy.
# EMAIL=admin@example.com

# Ports for Caddy to listen on. Set to 80 and 443 for production.
HTTP_PORT=8080
HTTPS_PORT=8443

# HTTP basic auth credentials for accessing the site through Caddy.
BASIC_AUTH_USER=admin

# Use a bcrypt hash here, not a plaintext password.
# Make sure to keep the bcrypt between the single quotes 
# Generate with:
# docker run --rm caddy:2 caddy hash-password --plaintext 'change-me'
BASIC_AUTH_PASSWORD_HASH='$2a$14$5vYMjoR0n3sfdThsKeXR5uJJX5Ab4P/lzMJIFaJ8DAkcNjAimYU9W'

# Page title
TITLE=Webtop Recorder
