{$DOMAIN} {
	basic_auth {
		{$BASIC_AUTH_USER} {$BASIC_AUTH_PASSWORD_HASH}
	}

	reverse_proxy webtop:3000

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
