[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium
Comment=Access the Internet
Exec=/usr/local/bin/wrapped-chromium
Icon=chromium-browser
Path=
Terminal=false
StartupNotify=false
